node-red-backup
[{"id":"a0930b78.62edf8","type":"tab","label":"Hand_Hygiene_Monitor","disabled":false,"info":""},{"id":"28f923c4.34e31c","type":"mqtt in","z":"a0930b78.62edf8","name":"","topic":"MDSSCC/AIHH/gui_dashboard","qos":"2","datatype":"auto","broker":"b4d003ab.d6792","x":150,"y":280,"wires":[["e3fabec9.63d0e","572d52c2.e7b80c"]]},{"id":"e3fabec9.63d0e","type":"json","z":"a0930b78.62edf8","name":"","property":"payload","action":"","pretty":false,"x":390,"y":280,"wires":[["40079c4a.2d8754"]]},{"id":"40079c4a.2d8754","type":"change","z":"a0930b78.62edf8","name":"","rules":[{"t":"set","p":"total_count","pt":"global","to":"payload.total_count","tot":"msg"},{"t":"set","p":"valid_patient_counter","pt":"global","to":"payload.valid_patient_counter","tot":"msg"},{"t":"set","p":"invalid_patient_counter","pt":"global","to":"payload.invalid_patient_counter","tot":"msg"},{"t":"set","p":"success_rate","pt":"global","to":"payload.success_rate","tot":"msg"},{"t":"set","p":"total_sucess","pt":"global","to":"payload.total_sucess","tot":"msg"},{"t":"set","p":"total_fail","pt":"global","to":"payload.total_fail","tot":"msg"},{"t":"set","p":"valid_exit_counter","pt":"global","to":"payload.valid_exit_counter","tot":"msg"},{"t":"set","p":"invalid_exit_counter","pt":"global","to":"payload.invalid_exit_counter","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":280,"wires":[[]]},{"id":"5567943b.fae06c","type":"inject","z":"a0930b78.62edf8","name":"","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"total_count","payloadType":"global","x":130,"y":380,"wires":[["16b5ae46.652c32"]]},{"id":"aa2f38f4.6fddf8","type":"inject","z":"a0930b78.62edf8","name":"","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"valid_patient_counter","payloadType":"global","x":160,"y":440,"wires":[["b638eaa4.7bb858"]]},{"id":"fcf16c53.84afa","type":"inject","z":"a0930b78.62edf8","name":"","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"invalid_patient_counter","payloadType":"global","x":170,"y":480,"wires":[["519e4472.f855cc"]]},{"id":"a1e17dbd.4a19e","type":"inject","z":"a0930b78.62edf8","name":"","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"valid_exit_counter","payloadType":"global","x":150,"y":540,"wires":[["9482855e.a51ff8"]]},{"id":"1d4c6a80.158b06","type":"inject","z":"a0930b78.62edf8","name":"","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"invalid_exit_counter","payloadType":"global","x":160,"y":600,"wires":[["7632d47b.37cecc"]]},{"id":"2b6728cd.d392e8","type":"inject","z":"a0930b78.62edf8","name":"","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"success_rate","payloadType":"global","x":140,"y":660,"wires":[["9a785ce9.d1356"]]},{"id":"5fa83150.f9adc","type":"inject","z":"a0930b78.62edf8","name":"","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"total_sucess","payloadType":"global","x":140,"y":720,"wires":[["eaf7bcf8.7b16c"]]},{"id":"fda3bb22.00eef8","type":"inject","z":"a0930b78.62edf8","name":"","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"total_fail","payloadType":"global","x":120,"y":780,"wires":[["cdbcca95.90f9d8"]]},{"id":"16b5ae46.652c32","type":"ui_text","z":"a0930b78.62edf8","group":"887f77d7.6a8c28","order":1,"width":0,"height":0,"name":"","label":"Total Count","format":"{{msg.payload}}","layout":"row-spread","x":490,"y":380,"wires":[]},{"id":"b638eaa4.7bb858","type":"ui_text","z":"a0930b78.62edf8","group":"22a33384.093a1c","order":2,"width":0,"height":0,"name":"","label":"Compliance","format":"{{msg.payload}}","layout":"row-spread","x":490,"y":440,"wires":[]},{"id":"519e4472.f855cc","type":"ui_text","z":"a0930b78.62edf8","group":"22a33384.093a1c","order":1,"width":0,"height":0,"name":"","label":"Incompliance","format":"{{msg.payload}}","layout":"row-spread","x":490,"y":480,"wires":[]},{"id":"9482855e.a51ff8","type":"ui_text","z":"a0930b78.62edf8","group":"5a92c87e.3a5958","order":2,"width":0,"height":0,"name":"","label":"Compliance","format":"{{msg.payload}}","layout":"row-spread","x":490,"y":540,"wires":[]},{"id":"7632d47b.37cecc","type":"ui_text","z":"a0930b78.62edf8","group":"5a92c87e.3a5958","order":1,"width":0,"height":0,"name":"","label":"Incompliance","format":"{{msg.payload}}","layout":"row-spread","x":490,"y":600,"wires":[]},{"id":"9a785ce9.d1356","type":"ui_gauge","z":"a0930b78.62edf8","name":"","group":"887f77d7.6a8c28","order":2,"width":0,"height":0,"gtype":"gage","title":"Compliance Rate","label":"percentage","format":"{{value}}","min":0,"max":"100","colors":["#b30000","#e6e600","#00ff00"],"seg1":"","seg2":"","x":520,"y":680,"wires":[]},{"id":"eaf7bcf8.7b16c","type":"ui_chart","z":"a0930b78.62edf8","name":"","group":"417f8e87.55aa5","order":1,"width":0,"height":0,"label":"Compliance","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":500,"y":740,"wires":[[]]},{"id":"cdbcca95.90f9d8","type":"ui_chart","z":"a0930b78.62edf8","name":"","group":"417f8e87.55aa5","order":2,"width":0,"height":0,"label":"Incompliance","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":500,"y":800,"wires":[[]]},{"id":"572d52c2.e7b80c","type":"debug","z":"a0930b78.62edf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":440,"y":180,"wires":[]},{"id":"a87a7912.0a4dd8","type":"debug","z":"a0930b78.62edf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":280,"wires":[]},{"id":"fcb0b84c.68e9d8","type":"mqtt in","z":"a0930b78.62edf8","name":"","topic":"MDSSCC/AIHH/SENSOR","qos":"2","datatype":"auto","broker":"b4d003ab.d6792","x":130,"y":900,"wires":[["774fe027.def51"]]},{"id":"4e5a9aed.624744","type":"change","z":"a0930b78.62edf8","name":"waterOutTime","rules":[{"t":"set","p":"waterOutTime","pt":"global","to":"payload.time","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":900,"wires":[["a3aa022a.41e2c","e2d4fcda.71b51","13f01a1e.7fa5f6"]]},{"id":"774fe027.def51","type":"json","z":"a0930b78.62edf8","name":"","property":"payload","action":"","pretty":false,"x":350,"y":900,"wires":[["4dc264e1.39ef7c"]]},{"id":"a3aa022a.41e2c","type":"debug","z":"a0930b78.62edf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110,"y":960,"wires":[]},{"id":"8e860b7a.dbfc78","type":"ui_text","z":"a0930b78.62edf8","group":"81c760a3.14ecb","order":2,"width":0,"height":0,"name":"","label":"Time:","format":"{{msg.payload}}s","layout":"row-spread","x":350,"y":980,"wires":[]},{"id":"2c416af8.0b47d6","type":"inject","z":"a0930b78.62edf8","name":"","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"waterOutTime","payloadType":"global","x":140,"y":980,"wires":[["8e860b7a.dbfc78"]]},{"id":"4dc264e1.39ef7c","type":"switch","z":"a0930b78.62edf8","name":"sensor_id==2?","property":"payload.sensor_id","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":520,"y":900,"wires":[["e0fbe7c2.799678","7ccc84a4.d80a1c"]]},{"id":"e0fbe7c2.799678","type":"switch","z":"a0930b78.62edf8","name":"waterOut Stop?","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":720,"y":900,"wires":[["4e5a9aed.624744"]]},{"id":"e2d4fcda.71b51","type":"function","z":"a0930b78.62edf8","name":"TimeStamp","func":"msg.payload = new Date().toLocaleString();\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":980,"wires":[["1150db9.2b74024"]]},{"id":"1150db9.2b74024","type":"ui_text","z":"a0930b78.62edf8","group":"81c760a3.14ecb","order":3,"width":0,"height":0,"name":"","label":"Last Updated:","format":"{{msg.payload}}","layout":"row-spread","x":920,"y":980,"wires":[]},{"id":"7ccc84a4.d80a1c","type":"switch","z":"a0930b78.62edf8","name":"waterOut Stop?","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":720,"y":840,"wires":[["3a5f6872.e982a8"]]},{"id":"11d5b449.504b8c","type":"ui_text","z":"a0930b78.62edf8","group":"81c760a3.14ecb","order":1,"width":0,"height":0,"name":"","label":"Status:","format":"{{msg.payload}}","layout":"row-spread","x":360,"y":1040,"wires":[]},{"id":"3a5f6872.e982a8","type":"change","z":"a0930b78.62edf8","name":"waterOutStatus","rules":[{"t":"set","p":"waterOutStatus","pt":"global","to":"Start","tot":"str"},{"t":"set","p":"waterOutTime","pt":"global","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":840,"wires":[[]]},{"id":"24a6191b.4df646","type":"inject","z":"a0930b78.62edf8","name":"","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"waterOutStatus","payloadType":"global","x":150,"y":1040,"wires":[["11d5b449.504b8c"]]},{"id":"13f01a1e.7fa5f6","type":"change","z":"a0930b78.62edf8","name":"waterOutStatus","rules":[{"t":"set","p":"waterOutStatus","pt":"global","to":"End","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":1020,"wires":[[]]},{"id":"56d78acb.4ab554","type":"mqtt in","z":"a0930b78.62edf8","name":"","topic":"MDSSCC/STATUS","qos":"2","datatype":"auto","broker":"b4d003ab.d6792","x":130,"y":1140,"wires":[["3b70af92.c319d"]]},{"id":"3b70af92.c319d","type":"json","z":"a0930b78.62edf8","name":"","property":"payload","action":"","pretty":false,"x":350,"y":1140,"wires":[["c467b755.ef5ca8","26f1b4a7.a5a69c"]]},{"id":"c467b755.ef5ca8","type":"change","z":"a0930b78.62edf8","name":"","rules":[{"t":"set","p":"sys_status","pt":"global","to":"payload.sys_status","tot":"msg"},{"t":"set","p":"sys_clock","pt":"msg","to":"payload.sys_clock","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1140,"wires":[[]]},{"id":"e8fdb8fd.0c61f8","type":"ui_text","z":"a0930b78.62edf8","group":"81c760a3.14ecb","order":4,"width":0,"height":0,"name":"","label":"SYS_Status:","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":1280,"wires":[]},{"id":"26f1b4a7.a5a69c","type":"debug","z":"a0930b78.62edf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":1240,"wires":[]},{"id":"b5cb8155.dea3a","type":"inject","z":"a0930b78.62edf8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"sys_status","payloadType":"global","x":330,"y":1280,"wires":[["e8fdb8fd.0c61f8"]]},{"id":"b4d003ab.d6792","type":"mqtt-broker","name":"localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"887f77d7.6a8c28","type":"ui_group","name":"Summary","tab":"a47235f5.0253f8","order":3,"disp":true,"width":"6","collapse":false},{"id":"22a33384.093a1c","type":"ui_group","name":"Before touching patient:","tab":"a47235f5.0253f8","order":1,"disp":true,"width":"6","collapse":false},{"id":"5a92c87e.3a5958","type":"ui_group","name":"After touching patient and surroundings:","tab":"a47235f5.0253f8","order":2,"disp":true,"width":6,"collapse":false},{"id":"417f8e87.55aa5","type":"ui_group","name":"Distribution","tab":"a47235f5.0253f8","order":4,"disp":true,"width":"6","collapse":false},{"id":"81c760a3.14ecb","type":"ui_group","name":"Hand Washing","tab":"a47235f5.0253f8","order":5,"disp":true,"width":"6","collapse":false},{"id":"a47235f5.0253f8","type":"ui_tab","name":"QE_Hand_Hygiene_Monitor","icon":"dashboard","order":4,"disabled":false,"hidden":false}]
